@import 'reset';
@import 'var';



// DEBUG:
body {
  background-color: green;
}

.header-container {
  position: relative;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px #000000;
  // min-width: 21.875em;


}
.header-logo {
  float: left;
  font-family: 'Crete Round', serif;
  font-size: 2em;
  margin: 25px;
  // padding-left: .5em;
  color: $color_blue;

}
.nav-toggle {
  display: block;
  float: right;
  color: white;
  text-decoration: none;
  padding: .75em;
  border: 1px grey solid;
  margin: 1em 1em 0 0;
}

ul {
  clear: left;
  list-style-type: none;
  color: white;
  padding-left: 0;

}

i {
  color: $color_lighterblue;
}

.nav-toggle__toggled {
  display: none;
}

li {
  margin: 20px;
  padding: 1em 0 1em 1.4em;
  border-top: 1px grey solid;
}

a {
  color: $color_lighterblue;
  transition: 0.5s;

  &:hover {
    color: $color_lightblue;
  }
}


@media screen and (min-width: 650px) {
  // .header-logo {
    // margin: 20px 20px 20px 270px;
  // }
  .nav-toggle {
    display: none;
  }
  nav {
    float: right;
  }
  ul {
    display: block !important;
    // margin-right: 270px;
  }
  li {
    float: left;
    border-top: none;
  }

}
