@import 'reset';


header {
  position: relative;
  background-color: #3A3A3A;
  overflow: hidden;
  min-width: 21.875em;
}

h1 {
  font-size: 2em;
  padding-left: .5em;
  color: #222;
  margin: 20px;
}

header h1 {
  float: left;
  color: white;
}

.menu-toggle {
  display: block;
  float: right;
  color: white;
  text-decoration: none;
  padding: .75em;
  border: 1px grey solid;
  margin: 1em 1em 0 0;
}

ul {
  clear: left;
  list-style-type: none;
  color: white;
  padding-left: 0;
  margin-bottom: 0;
}

.toggled {
  display: none;
}

li {
  padding: 1em 0 1em 1.4em;
  border-top: 1px grey solid;
}


@media screen and (min-width: 512px) {
  .menu-toggle {
    display: none;
  }
  nav {
    float: right;
  }
  ul {
    display: block !important;
  }
  li {
    float: left;
    padding: 1em;
    border-top: none;
  }

}
